BAIDUPANWEB_APP_KEY=
BAIDUPANWEB_SECRET_KEY=
BAIDUPANWEB_APP_ID=
BAIDUPANWEB_APP_NAME=
BAIDUPANWEB_APP_ROOT=/apps/your-app-name
BAIDUPANWEB_REDIRECT_URI=oob
BAIDUPANWEB_LISTEN_HOST=127.0.0.1
BAIDUPANWEB_LISTEN_PORT=8080
BAIDUPANWEB_USER_AGENT=pan.baidu.com
BAIDUPANWEB_ENFORCE_APP_ROOT=true
BAIDUPANWEB_SCOPE=basic,netdisk
